<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Apartados</h1>
    <ul>
        <li><a href="{{ url_for('apartado1') }}">Apartado 1</a></li>
        <li><a href="{{ url_for('apartado2') }}">Apartado 2</a></li>
        <li><a href="{{ url_for('apartado3') }}">Apartado 3</a></li>
        <li><a href="{{ url_for('apartado4') }}">Apartado 4</a></li>
    </ul>
</body>
</html>
