<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que el cuerpo ocupe toda la altura de la pantalla */
    margin: 0;
    text-align: center;
}
    </style>
</head>
<body>
    <h1>Mercancías Perecederas</h1>
    <a href="{{ url_for('menu') }}"><button>Empezar</button></a>
</body>
</html>
